<div class="center hero-unit">
  <h1>I'm On It</h1>

  <h2>
    a demonstration in file management
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", size: "45x45", alt: "Rails"), 'http://rubyonrails.org/' %>